body, html {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#middle {
    padding: 25px;
    width: 75vw;
    padding: 30px;
    box-shadow: 0 0 8px rgb(199, 199, 199);
    border-radius: 5px;
}

h2 {
    margin: 0;
    padding: 0;
    color: white;
}

#secondStepHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#secondStepHeader p#subHeader {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
    text-align: center;
    color: rgb(63, 106, 224);
    text-transform: uppercase;
    font-weight: bold;
}

#secondStepHeader p#verifyNumber {
    border-radius: 100%;
    width: fit-content;
    padding: 10px;
    background-color: rgb(63, 106, 224);
    color: white;
    font-weight: bold;
}

#secondStepHeader hr {
    width: 100%;
    border: 1px solid rgb(130, 159, 238);
}

#secondStepHeader small {
    font-size: 1em;
    color: rgb(173, 173, 173);
}

/* 
#middle input {
    font-size: 14pt;
    background-color: white;
    width: 100%;
    background-color: rgb(14, 20, 26);
    border: 0;
    padding: 8px;
    outline: none;
    color: #818cee;
    box-sizing: border-box;

}

#middle input::placeholder {
    color: #6772d4;
}

#middle input:not(:first-child) {
    margin-top: 15px;
} */

#secondStep, #mfaStep {
    display: none;
}

.formItem input[type="submit"] {
    background-color: #28c843 !important;
    cursor: pointer;
    color: white;
    font-size: 18pt !important;
    border: 0 !important;
    width: 100%;
    text-align: center;
    transition: .2s;
}

.greenGradient {
    color: white !important;
    cursor: pointer;
}

#mfaContinue:disabled {
    background: linear-gradient(45deg, #39c375 0%, #36cf78 45%, #39c375 60%);
    color: rgb(204, 204, 204) !important;
    cursor: initial !important;
}

.formItem input[type="submit"]:disabled {
    background-color: #22973b !important;
    cursor: not-allowed;
    color: rgb(211, 211, 211) !important;

}

h1 {
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    #middle {
        width: 23vw;
    }
}