#modalContainer {
    z-index: 1000001;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    align-items: center;
    justify-content: center;
}

#modalContainer #modal h2 {
  margin: 0;
  padding: 15px;
  position: sticky;
  top: 0;
  background-color: rgb(97, 133, 233);
  color: white;
  font-weight: 100;
  font-size: 1em;
}

#modalContainer #modal {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 10px 0px #5a5a5a;
    min-height: 10vh;
    width: 80vw;
    overflow-y: scroll;
    z-index: 3;
    max-height: 80vh;
}

#modalContainer #modal #modalContent {
  padding: 15px;
}

#modalContainer #modalBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .15);
  z-index: 2;

}

/* width */
#modalContainer #modal::-webkit-scrollbar {
    display: none;
}
  
@media only screen and (min-width: 768px) {
    #modalContainer #modal {
        width: 75vw;
    }
}