#modalContainer {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    align-items: center;
    justify-content: center;
}

#modalContainer #modal {
    padding: 10px;
    background-color: rgb(214, 214, 214);
    border-radius: 15px;
    box-shadow: 0 0 10px 0px #5a5a5a;
    height: 80vh;
    width: 80vw;
    overflow-y: scroll;
}

/* width */
#modalContainer #modal::-webkit-scrollbar {
    width: 18px;
}
  
/* Track */
#modalContainer #modal::-webkit-scrollbar-track {
  background: rgb(202, 202, 202);
  border-radius: 0 15px 15px 0;
}

/* Handle */
#modalContainer #modal::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 0 15px 15px 0;
}

/* Handle on hover */
#modalContainer #modal::-webkit-scrollbar-thumb:hover {
  background: rgb(184, 184, 184)
}

@media only screen and (min-width: 768px) {
    #modalContainer #modal {
        height: 60vh;
        width: 75vw;
    }
}