body, html {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

#header {
    text-align: center;
}

#content {
    display: grid;
    grid-template-areas: "mobileHeader" "pageContent";
    grid-template-rows: 50px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(10, 15, 19);
}

#mobileHeader {
    grid-area: mobileHeader;
    width: 100%;
    background: radial-gradient(at bottom left, #303aa1 0%, #3c49c5 45%, #3e4bca 80%);
    color: white;
    height: 50px;
    position: fixed;

    display: flex;
    align-items: center;
    padding-left: 25px;
}

#mobileHeader p {
    padding: 0;
    margin: 0;
    padding-left: 10px;
}

#navbar {
    grid-area: navbar;
    position: fixed;

    width: 100%;
    height: 100%;
    background: radial-gradient(at bottom left, #303aa1 0%, #3c49c5 45%, #3e4bca 80%);
    border-right: 2px solid rgb(0, 109, 172);

    box-shadow: 5px 0px 20px rgb(0, 109, 172);
    
    transform: translateX(-125vw);

    display: flex;
    flex-direction: column;

    font-size: 16pt;

    justify-content: space-between;

    transition: .3s transform ease-in-out;
}

#navbar #links {
    display: flex;
    flex-direction: column;
}

#navbar #links #closeMenu {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 21pt;
}

#navbar #sessionInfo {
    width: calc(100% - 25px);
    margin-bottom: 30px;
    text-align: center;
    font-size: 12pt;
    color: rgb(180, 180, 180);
}

#navbar #sessionInfo #logout {
    width: 100%;
    border: 0;
    font-size: 14pt;
    background-color: rgb(245, 43, 29);
    color: white;
    padding: 10px;
    margin-top: 10px;
}

#navbar p {
    color: #c4c9ff;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    transition: .2s;
}

#navbar p.navActive {
    background-color: #303aa1;
    color: white;
    box-shadow: inset 0 -1px 0 white;
}

#navbar p:hover {
    background-color: #3846da
}


.active {
    transform: translateX(0) !important;
}

#appContainer {
    display: flex;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}

.app {
    background-color: rgb(17, 23, 29);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 18pt;
    transition: .25s;
    /* border-radius: 5px; */
    height: 125px;
}

.app img {
    margin: 10px;
    width: 100px;
}

.app:hover {
    transition: .25s;
    box-shadow: 0 0 5px 0px rgb(4, 5, 7);
    transform: scale(1.03);
}

a {
    text-decoration: none;
    color: rgb(82, 82, 82);
}

p, h1 {
    padding: 0;
    margin: 0;
}

.page {
    padding: 25px;
    grid-area: contentArea;
    width: calc(100% - 50px);
}

#addApp {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 25px;
    padding-top: 15px;
}

#addApp input[type="text"] {
    padding: 5px;
    font-size: 12pt;
    margin-top: 5px;
    width: 75%;
    border-radius: 5px;
    border: 1px solid rgb(0, 162, 255);
}

#addApp input[type="checkbox"] {
    margin: 10px;
    padding: 0;
}

#addApp input[type="submit"] {
    padding: 5px;
    background-color: rgb(0, 162, 255);
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 14pt;
    padding-left: 20px;
    padding-right: 20px;
}

#addApp hr {
    width: 75%;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 1px solid rgb(0, 162, 255);
}

#addApp p {
    color: rgb(0, 162, 255);
    font-weight: 600;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.hidePage {
    display: none !important;
}

table {
    text-align: left;
    width: 100%;
}

table tbody tr {
    padding: 0;
    margin: 0;
}

table tbody tr:nth-child(even) {
    background-color: red;
}

.appSettings {
    display: none;
}

.appSettings i:hover {
    cursor: pointer;
}

#mainHeader {
    display: none;
    grid-area: mainHeader;
    color: white;

}

#pageContainer {
    grid-area: pageContent;
}

@media only screen and (min-width: 768px) {
    #mainHeader {
        display: flex;
        align-items: center;
        padding: 25px;
        background-color: rgb(18, 25, 33);
        /* z-index: 10; */
        justify-content: space-between;
    }

    #mainHeader .mainHeaderLeft, #mainHeader .mainHeaderRight {
        display: flex;
        flex-direction: row;
    }

    #mainHeader .mainHeaderLeft i {
        color: rgb(49, 62, 78);
        padding-right: 15px;
        transition: .1s;
    }

    #mainHeader .mainHeaderLeft i:hover {
        transition: .1s;
        cursor: pointer;
        color: #303aa1;
    }

    #mainHeader .mainHeaderRight {
        color: rgb(49, 62, 78);
    }

    #mainHeader .mainHeaderRight i {
        padding-left: 15px;
        transition: .1s;
    }

    #mainHeader .mainHeaderRight i:hover {
        color: rgb(168, 34, 22);
        transition: .1s;
        cursor: pointer;
    }

    .appSettings {
        display: inherit;
        background-color: rgb(236, 236, 236);
        width: fit-content;
        padding: 2px;
        border-radius: 5px;
        color: #ababab;
        position: relative;
        top: -35px;
        left: 10px;
        margin: 0;
        line-height: 0;
    }

    #mobileHeader {
        display: none;
    }

    #content {
        grid-template-areas: 
            "navbar mainHeader"
            "navbar pageContent";
        grid-template-columns: 250px 1fr;
    }

    .hideHeaderMenu {
        grid-template-areas: 
            "mainHeader"
            "pageContent" !important;
        grid-template-columns: 1fr !important;
    }

    .hidden {
        display: none !important;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        width: 250px;
        border: 0;
        transform: translateX(0) !important;
        box-shadow: 0 0 12px #000000;
        background: #3c49c5;
        background: radial-gradient(at bottom left, #303aa1 0%, #3c49c5 45%, #3e4bca 80%);
        /* radial-gradient(at bottom left, #2dad78 0%, #43b183 45%, #119a61 80%) */
    }

    #navbar #links #closeMenu {
        display: none;
    }

    #navbar p {
        color: white;
    }

    #navbar #sessionInfo {
        width: calc(100%);
    }

    #appContainer {
        grid-template-columns: repeat(auto-fill, minmax(12vw, 1fr));
        grid-gap: 0px 25px;
    }
}